@font-face {
    font-family: wilker;
    src: url("../assets/fonts/Wilker-drVwl.otf");
    font-weight: bold;
}

body {
    background-color: #070707;
    overflow: hidden;
    font-family: wilker;
}

#mood-input {
    background-color: #070707;
    border-style: none;
    height: 20vh;
    width: 100vw ;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#mood-input:focus {
    outline: none;
    box-shadow: none;
    color: white;

}




.main-container {

}
